<style>
        
        * {
            font-family: monospace;
        }
        body
        {background-color: #f5f5f5;

        
        }

        
        nav {
            background-color: rgb(180, 46, 162);
            padding: 10px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            display: inline-block;
            margin-right: 15px;
        }
        a
        {
            color: rgb(255, 253, 253);
            text-decoration: none;
            padding: 5px;
        }
        a:hover
        {
            background-color:  hsl(265, 78%, 73%);
            color: rgb(254, 254, 254);
            border-radius: 16px;
        }

        .center
        {text-align: center;
        }
        .flor {
            border-radius: 16px;
            box-shadow: 2px 2px 16px #8f067f;

        }
        #caja {
            background-color:rgb(227, 208, 239);
            border: 3px solid #d8a8d2;
            padding: 0;
            margin: 0;
            box-sizing: border-box;

        }

        table {
            margin: auto;
            border-collapse: collapse;
            margin-bottom: 40px;
            margin-top: 40px;
        }

        .navbar {
            background-color: hsl(265, 68%, 83%) !important;
        }

        .navbar a {
            color: white;
        }

        .btn-primary {
            color: #ffffff;
            background-color:  hsl(265, 68%, 83%);
            border-color: #ffffff;
            
        }

        .btn-primary:hover {
            background-color: hsl(265, 78%, 73%);
            border-color: #ffffff;
        }
        
        .card-img-top {
            width: 200px; /* Cambia según lo que necesites */
            height: 150px;
            object-fit: cover; /


    </style>